/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700'); */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(26, 52, 77);
    background: -webkit-linear-gradient(to right, rgb(26, 52, 77), rgb(0, 0, 0));
    background: linear-gradient(to right, rgb(26, 52, 77), rgb(0, 0, 0));
    min-height: 100vh;
}

/* --------------
    Navigation-bar 
----------------*/

/* nav.navbar {
    background-color: rgb(2, 23, 29);
} */
.fixed-top.scrolled {
    background-color: rgb(2, 23, 29) !important;
    transition: background-color 200ms linear;
}
.fixed-top.scrolled li a{
    color: rgb(255, 255, 255) !important;
    transition: color 200ms ease;
}
.fixed-top.scrolled button a{
    color: rgb(255, 255, 255) !important;
    transition: color 200ms ease;
}
.fixed-top.scrolled .dropdown-menu a{
    color: rgb(5, 5, 5) !important;
}
nav img {
    height: 26px;
    width: auto;
}
nav ul a {
    color: black !important;
    font-size: 18px;
}
nav ul a:hover {
    color: rgba(0, 0, 0, .5) !important;
}
nav li {
    display: inline-block;
    padding: 20px;
}

/* ---------------
    Title image and Caption 
-----------------------*/

.title-image {
    position: relative;
    text-align: center;
    color: white;
}
.title-image img {
    width: 100%;
    height: auto;
}
.title-image .display-4,.title-image .display-5{
    color:white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5% 10%;
    background: rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
}
.centered h1 {
    font-size: 4.5vw;
}
.centered h2 {
    font-size: 2.5vw;
}

/*----------
    Containers 
---------------*/
.container{
    color: rgb(121, 121, 121);
}
.container-fluid{
    color: rgb(121, 121, 121);
}
.container.padding {
    padding: 25px 0px;
}
.jumbotron{
    /* background: rgb(26, 52, 77); */
    background: -webkit-linear-gradient(to right, rgb(26, 52, 77), rgb(0, 0, 0));
    background: linear-gradient(to right, rgb(26, 52, 77), rgb(0, 0, 0));
    color:white;
}

/*----------
    Carousels 
---------------*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    /* -webkit-backface-visibility: visible; */
    backface-visibility: visible;
}
.carousel-item img {
    width: 100%;
    height: auto;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.6);
    transform: translate(0%, -50%);
}
.carousel-caption h1 {
    font-size: 6vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/*----------
    Horizontal Rules
---------------*/
.rule hr {
    border-top: 2px solid #b4b4b4;
    width: 55%;
    margin-top: 1.7rem;
    margin-bottom: 3.3rem;
    margin-left: 22.5%;
}
.rule2 hr {
    border-top: 2px solid #b4b4b4;
    width: 100%;
    margin-top: .7rem;
    margin-bottom: .1rem;
}
.rule1 hr {
    border-top: 2px solid #b4b4b4;
    width: 55%;
    margin-top: .7rem;
    margin-bottom: 3.3rem;
    margin-left: 22.5%;
}
.rule3 hr {
    border-top: 2px solid #b4b4b4;
    width: 55%;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 22.5%;
}


/*----------
    Sponsor Images
---------------*/
img.sponsorImg {
    display: block;
    width: 100%;
    height: auto;
}

/*----------
    Footer
---------------*/
footer {
    background: -webkit-linear-gradient(to right, rgb(26, 52, 77), rgb(0, 0, 0));
    background: linear-gradient(to right, rgb(26, 52, 77), rgb(0, 0, 0));
    color: gray;
    font-size: 13px;
    text-align: center;
    height: 270px;
}
footer li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    list-style-type: none;
    color: rgb(204, 21, 21);
    font-size: 20px;
}
footer ul.footer {
    padding: 0 0 0 0;
}
footer div {
    color: rgb(77, 73, 73);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
footer a {
    color: rgb(204, 21, 21);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0;
    font-size: 20px;
}
div.img {
    margin-top: 10px 0 10px 0;
}

/*--------
    links
----------*/
.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 10px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    /* background: white; */
    color: black;
}
.fa-linkedin {
    /* background: white; */
    color: black;
}
.fa-youtube {
    /* background: white; */
    color: black;
}
.fa-instagram {
    /* background: white; */
    color: black;
}


/* ----------
    Panel-group(team page) 
---------------------*/
.panel-group{
    padding-top: 30px;
}
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}
.panel-default>.panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: rgb(236, 236, 236);
    border-color: #EEEEEE;
}
.panel-title {
    font-size: 14px;
}
.panel-title>a {
    display: block;
    padding: 15px;
    text-decoration: none;
}
.more-less {
    float: right;
    color: #212121;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #EEEEEE;
}

/* -----------------------
    container for team page 
--------------------------*/
.demo {
    padding-top: 30px;
    padding-bottom: 60px;
}

/* -----------
General 
--------------*/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.95;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

/*-----------------
  Cards
  ------------------*/
.main-cont {
    padding: 0;
    margin: 0;
    top: -215px;
}
.news-row {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}
.news-block {
    margin: auto;
    padding: 0;
    background-color: transparent;
    max-width: 1060px;
    min-width: 100px;
    border: 20px solid transparent;
    -o-border-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.75) 0%, rgba(245, 245, 245, 0.75) 0%, rgba(245, 245, 245, 0.75) 16.6%, rgb(245, 245, 245) 37.8%, rgb(245, 245, 245) 48.8%, rgb(254, 254, 254) 53.1%, rgba(245, 245, 245, 0.75) 79.4%, rgba(245, 245, 245, 0.75) 84.3%) !important;
    border-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.75)), color-stop(0%, rgba(245, 245, 245, 0.75)), color-stop(16.6%, rgba(245, 245, 245, 0.75)), color-stop(37.8%, rgb(245, 245, 245)), color-stop(48.8%, rgb(245, 245, 245)), color-stop(53.1%, rgb(254, 254, 254)), color-stop(79.4%, rgba(245, 245, 245, 0.75)), color-stop(84.3%, rgba(245, 245, 245, 0.75))) !important;
    border-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.75) 0%, rgba(245, 245, 245, 0.75) 0%, rgba(245, 245, 245, 0.75) 16.6%, rgb(245, 245, 245) 37.8%, rgb(245, 245, 245) 48.8%, rgb(254, 254, 254) 53.1%, rgba(245, 245, 245, 0.75) 79.4%, rgba(245, 245, 245, 0.75) 84.3%) !important;
    border-image-slice: 1 !important;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-animation: blockAppear .6s ease-in-out;
    animation: blockAppear .6s ease-in-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.underlay {
    /*display: none;*/
    margin: 0;
    padding: 0;
    max-height: 350px;
    max-width: 340px;
}
.card {
    margin: 0;
    width: 340px;
    max-height: 350px;
    max-width: 340px;
    background-color: transparent;
    border: 20px solid transparent !important;
    -o-border-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.75) 0%, rgba(245, 245, 245, 0.75) 0%, rgba(245, 245, 245, 0.75) 16.6%, rgba(245, 245, 245, 0.75) 79.4%, rgba(245, 245, 245, 0.75) 84.3%) !important;
    border-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.75)), color-stop(0%, rgba(245, 245, 245, 0.75)), color-stop(16.6%, rgba(245, 245, 245, 0.75)), color-stop(79.4%, rgba(245, 245, 245, 0.75)), color-stop(84.3%, rgba(245, 245, 245, 0.75))) !important;
    border-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.75) 0%, rgba(245, 245, 245, 0.75) 0%, rgba(245, 245, 245, 0.75) 16.6%, rgba(245, 245, 245, 0.75) 79.4%, rgba(245, 245, 245, 0.75) 84.3%) !important;
    border-image-slice: 1 !important;
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
    -webkit-animation: blockAppear .6s ease-in-out;
    animation: blockAppear .6s ease-in-out;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.card:hover {
    z-index: 999;
    max-height: 800px;
    width: 400px;
    max-width: 400px;
    border: none !important;
    border-right: 60px solid transparent !important;
    border-bottom: 20px solid transparent !important;
    margin-right: -20px;
    -webkit-transform: translate(-30px, -50px);
    transform: translate(-30px, -50px);
}
.card:before {
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: 100%;
    -webkit-transition: -webkit-box-shadow 0.6s ease;
    transition: -webkit-box-shadow 0.6s ease;
    transition: box-shadow 0.6s ease;
    transition: box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
}
.card:hover:before {
    max-width: 300px;
    -webkit-box-shadow: 60px 60px 20px RGBA(142, 142, 142, .6);
    box-shadow: 60px 60px 20px RGBA(142, 142, 142, .6);
}
.card:hover .card-img-top {
    height: 300px;
}
.card:hover .card-block {
    width: 300px;
    background-image: -webkit-gradient(linear, right bottom, left top, from(rgb(72, 85, 108)), color-stop(50%, rgb(27, 33, 43)), color-stop(51%, rgb(20, 25, 34)), to(rgb(53, 59, 69)));
    background-image: linear-gradient(to top left, rgb(72, 85, 108) 0%, rgb(27, 33, 43) 50%, rgb(20, 25, 34) 51%, rgb(53, 59, 69) 100%);
}
.card:hover .card-title {
    color: white;
}
.card:hover .card-text {
    /*display: block !important;*/
    color: white;
    display: contents;
}
.card-block {
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.75)), color-stop(0%, rgba(245, 245, 245, 0.75)), color-stop(16.6%, rgba(245, 245, 245, 0.75)), color-stop(37.8%, rgb(245, 245, 245)), color-stop(48.8%, rgb(245, 245, 245)), color-stop(53.1%, rgb(254, 254, 254)), color-stop(79.4%, rgba(245, 245, 245, 0.75)), color-stop(84.3%, rgba(245, 245, 245, 0.75)));
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.75) 0%, rgba(245, 245, 245, 0.75) 0%, rgba(245, 245, 245, 0.75) 16.6%, rgb(245, 245, 245) 37.8%, rgb(245, 245, 245) 48.8%, rgb(254, 254, 254) 53.1%, rgba(245, 245, 245, 0.75) 79.4%, rgba(245, 245, 245, 0.75) 84.3%);
    background-repeat: no-repeat;
}
.card-text {
    display: none;
}
.card-img-top {
    width: 300px;
    height: 250px;
    background-color: #fff;
    -webkit-transition: height 0.8s ease;
    transition: height 0.8s ease;
}


/*----------------
    Animation for Cards 
-------------------*/
@-webkit-keyframes blockAppear {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    40% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, .15), 0 1px 0 rgba(0, 0, 0, .15);
        box-shadow: 0 10px 35px rgba(0, 0, 0, .15), 0 1px 0 rgba(0, 0, 0, .15);
    }
    80% {
        opacity: 1;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
@keyframes blockAppear {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    40% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, .15), 0 1px 0 rgba(0, 0, 0, .15);
        box-shadow: 0 10px 35px rgba(0, 0, 0, .15), 0 1px 0 rgba(0, 0, 0, .15);
    }
    80% {
        opacity: 1;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@media (max-width: 1120px) {
    .news-block {
        max-width: 720px;
    }

    .card:hover {
        margin-right: -20px;
    }

    .card:hover .card-block {
        width: 300px;
    }
}

@media (max-width: 800px) {
    .news-block {
        min-width: 380px;
    }
    .card:hover {
        border-left: 20px solid transparent !important;
        margin-right: -40px;
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px);
    }
    .card:hover:before {
        -webkit-box-shadow: 0px 60px 40px RGBA(142, 142, 142, .5);
        box-shadow: 0px 60px 40px RGBA(142, 142, 142, .5);
    }
    .card:hover .card-block {
        width: 300px;
    }
}

@media (max-width: 580px) {
    .news-block {
        max-width: 380px;
    }
}

/*------------------*/
/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}
/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.text-gray {
    color: #999;
}
.timeline-div{
    margin:40px;
}
.timeline-item{
    margin-top: 20px;
}