@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    /* -webkit-backface-visibility: visible; */
    backface-visibility: visible;
}

/* .topic{
    padding: 25px;
}

.topic-head{
    margin-bottom: 20px;
} */

.rule3 hr{
  border-top: 2px solid #b4b4b4 ;
    width: 80%;
    margin-top: .7rem ;
    margin-bottom: 3.3rem;
}



.rule hr{
    border-top: 2px solid #b4b4b4 ;
<<<<<<< HEAD
    width: 55%;
    margin-top: 1.7rem ;
=======
    width: 85%;
    margin-top: .7rem ;
>>>>>>> 4158a9ed76abdfc6efa393e936cbe84d3d985941
    margin-bottom: 3.3rem;
}

.rule2 hr{
    border-top: 2px solid #b4b4b4 ;
    width: 85%;
    margin-top: .7rem ;
    margin-bottom: .1rem;
}

.rule1 hr{
    border-top: 2px solid #b4b4b4;
    width:55%;
    margin-top: .7rem;
    margin-bottom: 3.3rem;
}



div.carousel-item img{
    width:100%;
    height:auto;
}

img.sponsorImg {
    display:block; 
    width: 100%; 
    height:auto;
}

<<<<<<< HEAD
=======




/*fooeter*/

>>>>>>> 4158a9ed76abdfc6efa393e936cbe84d3d985941
footer {
    background: white;;
    color: gray;
    font-size: 13px;
    text-align: center;
    height:250px;
<<<<<<< HEAD

=======
    
>>>>>>> 4158a9ed76abdfc6efa393e936cbe84d3d985941
     }
  footer li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
<<<<<<< HEAD



=======
  
    
    
>>>>>>> 4158a9ed76abdfc6efa393e936cbe84d3d985941
    list-style-type: none;
    color: rgb(204, 21, 21);
    font-size: 20px;
  }
  footer ul.footer{
    padding:0 0 0 0;
  }

  footer div{
    color: rgb(77, 73, 73);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
<<<<<<< HEAD


=======
  
    
>>>>>>> 4158a9ed76abdfc6efa393e936cbe84d3d985941
  }
  footer a {
    color:rgb(204, 21, 21);
    text-decoration:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0;
    font-size: 20px;
  }
<<<<<<< HEAD





  div.img{

=======
  
    
     
    
  
  div.img{
    
>>>>>>> 4158a9ed76abdfc6efa393e936cbe84d3d985941
    margin-top:10px 0 10px 0; 
  }
  nav li{
    display:inline-block;
    padding:20px;
<<<<<<< HEAD

=======
    
>>>>>>> 4158a9ed76abdfc6efa393e936cbe84d3d985941
}


/*links*/

.fa {
<<<<<<< HEAD

    font-size: 30px;

=======
    
    font-size: 30px;
    
>>>>>>> 4158a9ed76abdfc6efa393e936cbe84d3d985941
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 10px 2px;
<<<<<<< HEAD



  }

=======
    
    
    
  }
  
>>>>>>> 4158a9ed76abdfc6efa393e936cbe84d3d985941
  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background:white;
  color:black;
}


<<<<<<< HEAD


=======
  
  
>>>>>>> 4158a9ed76abdfc6efa393e936cbe84d3d985941

.fa-linkedin {
  background: white;
  color: black;
}

.fa-youtube {
  background:white;
  color: black;
}

.fa-instagram {
  background:white;
  color: black;
}  
<<<<<<< HEAD
=======
    
>>>>>>> 4158a9ed76abdfc6efa393e936cbe84d3d985941
