@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    /* -webkit-backface-visibility: visible; */
    backface-visibility: visible;
}

/* .topic{
    padding: 25px;
}

.topic-head{
    margin-bottom: 20px;
} */

.container-fluid-padding hr{
    border-top: 2px solid #b4b4b4 ;
    width: 80%;
    margin-top: .7rem ;
    margin-bottom: 3.3rem;
}

.rule hr{
    border-top: 2px solid #b4b4b4 ;
    width: 55%;
    margin-top: .7rem ;
    margin-bottom: 3.3rem;
}

.rule2 hr{
    border-top: 2px solid #b4b4b4;
    width:85%;
    margin-top: .7rem;
    margin-bottom: .1rem;
}

div.carousel-item img{
    width:100%;
    height:auto;
}

img.sponsorImg {
    display:block; 
    width: 100%; 
    height:auto;
}
